* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
    font-family: "Open Sans", Arial;
}
p {
    margin: 10px 0px;
}
button {
    margin: 20px 0px;
}
header.mean {
    text-align: center;
}
header.mean h1 {
    font-size: 25px;
}
section.practice {
  display: flex;
  flex-wrap: wrap;
}
section.practice > * {
  flex-basis: 100%;

}
.cifrado, .descifrado {
  height: 300px;
  text-align: center;
  margin: 10px;
    background-color: #EBEFF3;
    border-radius: 5px;
    position: relative;
}
article  h3 {
    margin: 10px 0px;

}
article input[type="text"] {
  display: block;

  height: 30px;
  border: 1px solid #EAEAEA;
  border-radius: 3px;
  font-size: 13px;
  padding-left: 5px;
  max-width: 450px;
  width: 90%;
  margin: 0 auto;
}
article input#message, article input#encrypted-message {
    position: relative;
    z-index: 1;
}
article input.token {

    opacity: 0;
    transform: translateY(-100%);
    transition: all .5s ease-in-out;

}
article input.token.enable {
    opacity: 1;
    transform: translateY(0%);
    position:static;

}

article button{
    display: block;
    margin: 10px auto;
    background-color: #24a9bd;
    border: 0px;
    padding: 10px 20px;
    color: #fff;
    font-size: 13px;
    border-radius: 3px;
    width: 200px;
    cursor: pointer;
}
article span {
  font-size: 10px;
  font-weight: 800;
}
article .checkbox {
    margin-top: 5px;

}

article p.result {
    color: #333;
    width: 80%;
    height: 80px;
    padding: 15px;
    background-color: #FFF;
    overflow: auto;
    display: inline-block;
}
@media only screen and (min-width: 700px) {
    section.practice {
        flex-wrap: nowrap;
    }
}
